<table class="table table-striped">
  <%@game_list.each  do |game| %>
      <tr>
        <th><%=game.name  %>  </th>

      <% if(game.status == 0) %>
            <% if GamePlayer.where(:game_id => game.id, :user_id => current_user.id) %>
                <th>  <%= link_to "Continue Game", game, class:"btn" %> </th>
            <% else %>
                <th> <%= link_to "Join Game", game_players_create_player_path(:game_id => game.id), class:"btn"%>
      <% end %>
          </th>
          <%else if(game.status == 1) %>
                <% if GamePlayer.where(:game_id => game.id, :user_id => current_user.id) %>
                    <th>  <%= link_to "Continue Game", game, class:"btn" %> </th>
                <% else %>
                    <th>  <%= link_to "Observe Game", game, class:"btn" %> </th>
                <% end %>
              <% end %>
      <% end %>
      </tr>
        <% end %>

</table>