<table class="table game-list-table">
  <% @game_list = Game.all %>
  <% if !@game_list.nil? %>
      <% if user_signed_in? %>
          <%@game_list.each  do |game| %>
              <% gamePlayer = GamePlayer.where(:game_id => game.id, :user_id => current_user.id)%>
              <tr>
                <td><%=game.name  %>  </td>

                <% if(game.status == $GAME_STATUS_WAITING) %>

                    <% if (gamePlayer.count == 1 && gamePlayer.first.status != $GAME_PLAYER_STATUS_OBSERVE)%>
                        <td>  <%= link_to "Continue Game", game, class:"btn" %> </td>
                    <% else if GamePlayer.where(:game_id => game.id).count < 5 %>
                        <td> <%= link_to "Join Game", game, class:"btn"%>
                    <% else %>
                            <td> <%= link_to "Observe Game", game, class:"btn"%>
                    <% end %>
                <%end%>
                    </td>
                <%else if(game.status == $GAME_STATUS_STARTED) %>
                        <% if (gamePlayer.count == 1 && gamePlayer.first.status != $GAME_PLAYER_STATUS_OBSERVE) %>
                            <td>  <%= link_to "Continue Game", game, class:"btn" %> </td>
                        <% else %>
                            <td>  <%= link_to "Observe Game", game, class:"btn" %> </td>
                        <% end %>
                    <% end %>
                <% end %>
              </tr>
          <% end %>
      <% else %>
          <%@game_list.each  do |game| %>
              <tr>
                <td><%=game.name  %>  </td>

                <% if(game.status == $GAME_STATUS_WAITING) %>

                    <td>  Ready </td>

                <%else if(game.status == $GAME_STATUS_STARTED) %>
                        <td>  Going on </td>
                    <% end %>
                <% end %>
              </tr>
          <% end %>
      <% end %>
  <% end %>

</table>
