
<li xmlns="http://www.w3.org/1999/html">
  <% if game_move.type_of_move >= 1 && game_move.type_of_move <= 5 %>
      Placed <b>
      <%="Aircraft Carrier" if game_move.type_of_move == 5%>
      <%="Battleship" if game_move.type_of_move ==4%>
      <%="Destroyer" if game_move.type_of_move ==3%>
      <%="Submarine" if game_move.type_of_move ==2%>
      <%="Patrol Boat" if game_move.type_of_move ==1%>

      <%="horizontal" if game_move.ship_alignment == 0%>
      <%="vertical" if game_move.ship_alignment == 1%></b>
      at
      <b><%= (game_move.row+65).chr %><%= (game_move.column)+1 %></b>
  <% else %>
      <%= User.find(game_move.from_user_id).username+" shot at "+ User.find(game_move.to_user_id).username+" and"%><b>
      <%="Hit" if game_move.type_of_move == 6 %>
      <%="Missed" if game_move.type_of_move == 7 %>
      </b>

      <%
         if game_move.ship_sunk_number.to_i > 0 %>
          *
          <%="Aircraft Carrier" if game_move.ship_sunk_number.to_i == 5%>
          <%="Battleship" if game_move.ship_sunk_number.to_i ==4%>
          <%="Destroyer" if game_move.ship_sunk_number.to_i ==3%>
          <%="Submarine" if game_move.ship_sunk_number.to_i ==2%>
          <%="Patrol Boat" if game_move.ship_sunk_number.to_i ==1%>
          has been sunk!*
      <% end %>
  <% end %>
</li>
