

<div class="container-fluid">

  <div class="center">
    <h1>Current Game</h1>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <h2>Players</h2>
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Knott</td>
              <td>Ready</td>
            </tr>
            <tr>
              <td>Knott</td>
              <td>Ready</td>
            </tr>
            <tr>
              <td>Knott</td>
              <td>Ready</td>
            </tr>
            <tr>
              <td>Knott</td>
              <td>Ready</td>
            </tr>
            <tr>
              <td>Knott</td>
              <td>Ready</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="span10">
      <h2>Battleground</h2>
      <div class="row-fluid">
        <div class="span4">
          <h3>My name</h3>
          <!-- my grid -->
          <table id="myGrid" class="table table-bordered battlefield table-hover">
            <% 10.times do |row| %>
            <tr>
              <% 10.times do |col| %>
              <td id="<%="leftGrid"+(row.to_s+"-"+col.to_s)%>">c</td>
                  <%end%>
            </tr>
            <%end%>
          </table>

        </div>
        <div class="span1">
          <%= form_tag("/search", :method => "get") do %>
              <%= radio_button_tag(:ship_alignment, "Hor") %>
              <%= label_tag(:age_adult, "Hor") %>
              <%= radio_button_tag(:ship_alignment, "Vert") %>
              <%= label_tag(:age_adult, "Vert") %>
              <%= radio_button_tag(:ship_type, "Ship 5") %>
              <%= label_tag(:ship_type, "Ship 5") %>
              <%= radio_button_tag(:ship_type, "Ship 4") %>
              <%= label_tag(:ship_type, "Ship 4") %>
              <%= radio_button_tag(:ship_type, "Ship 3") %>
              <%= label_tag(:ship_type, "Ship 3") %>
              <%= radio_button_tag(:ship_type, "Ship 2") %>
              <%= label_tag(:ship_type, "Ship 2") %>
              <%= radio_button_tag(:ship_type, "Ship 1") %>
              <%= label_tag(:ship_type, "Ship 1") %>
              <%= text_field_tag(:ship_row) %>
              <%= text_field_tag(:ship_col) %>

              <%= submit_tag("Place") %>
          <% end %>
        </div>

        <div class="span4">
          <h3>Other player</h3>
          [some paginations]<br>
          Grid
        </div>
        <div class="span1">
          Panel
        </div>
      </div>
    </div>
  </div>

</div>

<script>
    $('#myGrid td').on('click', function (e) {

        //$('#myGrid td').addClass("missed");
        //alert(e.target.id);
        e.target.className += "missed";
    })
</script>