  <tr id="player-table-game-player-number-<%=game_player.player_number%>">
    <td>
      <% if game_player.user.username.eql?(current_user.username) %>
        <%=content_tag(:strong,game_player.user.username)  %>
      <% else %>
        <%=game_player.user.username%>
      <% end %>
    </td>
    <td>
      <% # Before game start (game.status == 0) %>
        <%= "Waiting" if game_player.status == 0%>
        <%= content_tag(:strong,"Ready") if game_player.status == 1%>
      <% # After game start (game.status == 1) %>
        <%= "Playing" if game_player.status == 2%>
        <%= "Left" if game_player.status == 3 %>
        <%= "Lost" if game_player.status == 4%>
        <%= "Won" if game_player.status == 5 %>
    </td>
  </tr>


