<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container" style="background-image: url(/images/ocean6.jpg);background-repeat:no-repeat;width: 100%;">
  <%= yield %>
</div>
</body>
</html>
